<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin/header::header-fragment"></head>
    <body class="hold-transition sidebar-mini">
        <link th:href="@{/admin/plugins/editormd/css/editormd.css}" rel="stylesheet"/>
        <link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
        <link th:href="@{/admin/plugins/select2/select2.css}" rel="stylesheet"/>
        <div class="wrapper">
            <!-- 引入页面头header-fragment -->
            <div th:replace="admin/header::header-nav"></div>
            <!-- 引入工具栏sidebar-fragment -->
            <div th:replace="admin/sidebar::sidebar-fragment('edit')"></div>
            <!-- Content Wrapper. Contains page content -->

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                    </div><!-- /.container-fluid -->
                </div>
                <!-- Main content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">发布文章</h3>
                            </div>

                            <div class="card-body">
                                <!-- 几个基础的输入框，名称、分类等输入框 -->
                                <form id="blogForm" onsubmit="return false;">
                                    <div class="form-group" style="display:flex;">
                                        <input type="hidden" id="id" name="id"
                                               th:value="${blog.id!=null }?${blog.id}: 0">
                                        <input type="text" class="form-control col-sm-6" id="title" name="title"
                                               placeholder="*请输入文章标题(必填)"
                                               th:value="${blog.title!=null }?${blog.title}:''"
                                               required="true">
                                        &nbsp;&nbsp;
                                        <!--<input type="text" class="form-control" id="tags" name="tags"
                                               placeholder="请输入文章标签"
                                               th:value="${blog.tags!=null }?${blog.tagIds}: ''"
                                               style="width: 100%;">-->
                                        <select class="form-control select2" multiple data-role="tagsinput"
                                                style="width: 100%;" id="tags"
                                                data-placeholder="请选择文章标签...">
                                            <th:block th:if="${null == tags}">s
                                                <option value="0" selected="selected">默认分类</option>
                                            </th:block>
                                            <th:block th:unless="${null == tags}">
                                                <th:block th:each="tag : ${tags}">
                                                    <option th:value="${tag.id}" th:text="${tag.name}"
                                                            th:selected="${null !=blog.type and blog.tags.contains(tag)} ?true:false">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </div>

                                    <div class="form-group" style="display:flex;">
                                        <input type="text" class="form-control col-sm-6" id="subUrl"
                                               name="subUrl"
                                               th:value="${blog!=null and blog.subUrl!=null }?${blog.subUrl}:''"
                                               placeholder="请输入自定义路径,如:springboot-mybatis,默认为id"> &nbsp;&nbsp;
                                        <select class="form-control select2" style="width: 100%;" id="types"
                                                data-placeholder="请选择分类...">
                                            <th:block th:if="${null == types}">s
                                                <option value="0" selected="selected">默认分类</option>
                                            </th:block>
                                            <th:block th:unless="${null == types}">
                                                <th:block th:each="type : ${types}">
                                                    <option th:value="${type.id}" th:text="${type.name}"
                                                            th:selected="${null !=blog.type and null !=blog.type.id and blog.type.id==type.id} ?true:false">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="description" id="description" class="form-control"
                                                  style="width: 100%;"
                                                  th:text="${blog.description}"
                                                  placeholder="博客简介..."
                                                  maxlength="200"></textarea>
                                    </div>
                                    <div class="form-group" id="blog-editormd">
                                <textarea style="display:none;"
                                          th:utext="${blog.content !=null}?${blog.content}: ''"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <!-- 按钮 -->
                                        <button class="btn btn-info float-right" style="margin-left: 5px;"
                                                id="confirmButton">保存文章
                                        </button>&nbsp;
                                        &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                                      id="cancelButton">返回文章列表
                                    </button>&nbsp;
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div><!-- /.container-fluid -->
                </div>
                <div class="content">
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="articleModal" tabindex="-1" role="dialog"
                         aria-labelledby="articleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h6 class="modal-title" id="articleModalLabel">信息完善</h6>
                                </div>
                                <div class="modal-body">
                                    <form onsubmit="return false;">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <th:block th:if="${null == blog.firstPicture}">
                                                    <img id="firstPicture" src="/admin/dist/img/img-upload.png"
                                                         style="height: 64px;width: 64px;">
                                                </th:block>
                                                <th:block th:unless="${null == blog.firstPicture}">
                                                    <img id="firstPicture" th:src="${blog.firstPicture}"
                                                         style="width:160px ;height: 120px;display:block;">
                                                </th:block>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <button class="btn btn-info" style="margin-bottom: 5px;"
                                                        id="uploadFirstPicture">
                                                    <i class="fa fa-picture-o"></i>&nbsp;上传封面
                                                </button>
                                                <button class="btn btn-secondary" style="margin-bottom: 5px;"
                                                        id="randomFirstPicture"><i
                                                        class="fa fa-random"></i>&nbsp;随机封面
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">文章标识:&nbsp;</label>
                                            <label for="original"><input name="flag" type="radio" id="original"
                                                                         checked=true
                                                                         th:checked="${null==blog||(null !=blog and null !=blog.published and blog.published==true)} ?true:false"
                                                                         value="true"/>原创</label>
                                            <input name="flag" type="radio" id="reproduction" value="转载"
                                                   th:checked="${null !=blog and null !=blog.published and blog.published==false} ?true:false"/><label
                                                for="reproduction">&nbsp;转载&nbsp;</label>
                                            <input name="flag" type="radio" id="translation"
                                                   checked=true
                                                   th:checked="${null==blog||(null !=blog and null !=blog.published and blog.published==true)} ?true:false"
                                                   value="翻译"/><label for="translation">&nbsp;翻译</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">文章状态:&nbsp;</label>
                                            <input name="published" type="radio" id="published"
                                                   checked=true
                                                   th:checked="${null==blog||(null !=blog and null !=blog.published and blog.published==true)} ?true:false"
                                                   value="true"/><label for="published">&nbsp;发布&nbsp;</label>
                                            <input name="published" type="radio" id="draft" value="false"
                                                   th:checked="${null !=blog and null !=blog.published and blog.published==false} ?true:false"/><label
                                                for="draft">&nbsp;草稿&nbsp;</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">是否允许评论:&nbsp;</label>
                                            <input name="commentabled" type="radio" id="enableCommentTrue" checked=true
                                                   th:checked="${null==blog||(null !=blog and null !=blog.commentabled and blog.commentabled==true)} ?true:false"
                                                   value="true"/><label for="enableCommentTrue">是</label>
                                            <input name="commentabled" type="radio" id="enableCommentFalse"
                                                   value="false"
                                                   th:checked="${null !=blog and null !=blog.commentabled and blog.commentabled==false} ?true:false"/><label
                                                for="enableCommentFalse">&nbsp;否&nbsp;</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">是否推荐:&nbsp;</label>
                                            <input name="recommend" type="radio" id="enableRecommendTrue"
                                                   checked=true
                                                   th:checked="${null==blog||(null !=blog and null !=blog.recommend and blog.recommend==true)} ?true:false"
                                                   value="true"/><label for="enableRecommendTrue">&nbsp;是&nbsp;</label>
                                            <input name="recommend" type="radio" id="enableRecommendFalse"
                                                   value="false"
                                                   th:checked="${null !=blog and null !=blog.recommend and blog.recommend==false} ?true:false"/><label
                                                for="enableRecommendFalse">&nbsp;否&nbsp;</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">是否开启赞赏:&nbsp;</label>
                                            <input name="appreciation" type="radio" id="enableAppreciationTrue"
                                                   checked=true
                                                   th:checked="${null==blog||(null !=blog and null !=blog.appreciation and blog.appreciation==true)} ?true:false"
                                                   value="true"/><label
                                                for="enableAppreciationTrue">&nbsp;是&nbsp;</label>
                                            <input name="appreciation" type="radio" id="enableAppreciationFalse"
                                                   value="false"
                                                   th:checked="${null !=blog and null !=blog.appreciation and blog.appreciation==false} ?true:false"/><label
                                                for="enableAppreciationFalse">&nbsp;否&nbsp;</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">是否开启转载声明:&nbsp;</label>
                                            <input name="shareStatement" type="radio"
                                                   id="enableShareStatementTrue"
                                                   checked=true
                                                   th:checked="${null==blog||(null !=blog and null !=blog.shareStatement and blog.shareStatement==true)} ?true:false"
                                                   value="true"/><label
                                                for="enableShareStatementTrue">&nbsp;是&nbsp;</label>
                                            <input name="shareStatement" type="radio"
                                                   id="enableShareStatementFalse"
                                                   value="false"
                                                   th:checked="${null !=blog and null !=blog.shareStatement and blog.shareStatement==false} ?true:false"/><label
                                                for="enableShareStatementFalse">&nbsp;否&nbsp;</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
            <!-- /.content-wrapper -->
            <!-- 引入页脚footer-fragment -->
            <div th:replace="admin/footer::footer-fragment"></div>
        </div>
        <!-- jQuery -->
        <script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
        <!-- Bootstrap 4 -->
        <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
        <!-- editor.md -->
        <script th:src="@{/admin/plugins/editormd/editormd.min.js}"></script>
        <!-- tagsinput -->
        <script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
        <!-- Select2 -->
        <script th:src="@{/admin/plugins/select2/select2.full.min.js}"></script>
        <!-- sweetalert -->
        <script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
        <!-- ajaxupload -->
        <script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
        <script th:src="@{/admin/dist/js/public.js}"></script>
        <script th:src="@{/admin/dist/js/edit.js}"></script>

    </body>
</html>
